<link href="./static/thankyous.css" rel="stylesheet">
<div class="header-custom email-signup-thankyou">
  <div class="content">
    <div class="left-hole"></div>
    <div class="right-hole"></div>
    <div class="main-content">
      <h1>Thank you for showing your intrest!</h1>
      <p>Please wait and i will contact you!</p>

      <h3>Please give me more information below if you haven't:</h3>
      <ul>
        <li>Which Projects interests you?</li>
        <li>What does your company do?</li>
        <li>What can i contribute to your company?</li>
      </ul>
    </div>

  </div>
</div>